<html>
	<head>
		<script type="text/javascript" src="../public/js/jq.js"></script>
    <script src="../public/js/masonry.js" type="text/javascript" charset="utf-8"></script>
    <script src="../public/js/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../public/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../public/css/font-awesome.css">

	</head>
	<style>
		.fbLogin {
			margin-top: 20px;
			width: 330px;
			height: 60px;
			background: transparent url(../public/img/btn_Login_FB.png) no-repeat;
		}
		.fbLogin:hover {
			background: transparent url(../public/img/btn_Login_FB_OverState.png) no-repeat;
			cursor: hand;
			cursor: pointer;
		}
	</style>


	<body>
		
  
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    
    <img src="img/logo.png" class="logo pull-left" />
     <ul id="account_info" class="nav">
      
      <li class="dropdown">
        <a href="#"
              class="dropdown-toggle"
              data-toggle="dropdown">
              Account
              <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          ...
        </ul>
      </li>
    </ul>

  </div>
</div>


  <div id="login">
    <div id="Logo"></div>
    <div id="Slogan">ALL YOUR FUCKING PHOTOS</div>
  </div>

  <div id="photoContainer">
    <div class="item">
      <img src="img/default/1.jpg" width="270" height="300" alt="1"/>
    </div>
    <div class="item">
      <img src="img/default/2.jpg" width="270" height="400" alt="2"/>
    </div>
    <div class="item">
      <img src="img/default/3.jpg" width="270" height="400" alt="2"/>
    </div>
    <div class="item">
      <img src="img/default/4.jpg" width="270" height="400" alt="2"/>
    </div>
    <div class="item">
      <img src="img/default/5.jpg" width="270" height="400" alt="2"/>
    </div>
    <div class="item">
      <img src="img/default/6.jpg" width="270" height="400" alt="2"/>
    </div>
    <div class="item">
      <img src="img/default/7.jpg" width="270" height="400" alt="2"/>
    </div>
    <div class="item">
      <img src="img/default/8.jpg" width="270" height="400" alt="2"/>
    </div>
  </div>  


  <div class="modal" id="modal">
    <img src="img/logo.png" class="logo pull-left" />
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">X</button>
    </div>
    <div class="modal-body">
      <p>The modal info</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>








		<div class="login">
            <div class="fbLogin" onclick="openFbConnect()"></div>
            <div id="fbAuth" style="display: none;">
                <form action="/fbAuthSubmit" method="POST">
                    <input type="hidden" id="fbAuthToken" name='fbAuthToken' value='' />
                    <input type="submit" id="fbAuthFormSubmit" name='fbAuthFormSubmit' value='' />
                </form>
            </div>
        </div>
        <script>
            function validateFbForm(){
                //alert($('#fbAuthTocken').val());
              }
              function completeFbLogin(token){
                token = token.replace('#access_token=', '');
                $('#fbAuthToken').val(token);
                $('#fbAuthFormSubmit').click();
              }
              function openFbConnect(){
                var fbSecret = "<%= fbSecret %>"; //localhost 
                var returnUrlHost = window.location.host;
                url = 'https://graph.facebook.com/oauth/authorize?type=user_agent&client_id='+fbSecret+'&display=popup&redirect_uri=http://'+returnUrlHost+'/fbAuthLand&response_type=token&scope=email,read_stream';
                fbWin = window.open(url, "myWindowName", "width=650, height=350,resizable=no");
              }
        </script>
	</body>
</html>