<html>
    <body>
        <script type="text/javascript">
            //alert(window.location.hash);
            opener.completeInstaLogin(window.location.hash);
            self.close();
        </script>
    </body>
</html>