<!DOCTYPE html>
<html>
	<head>
	<script type="text/javascript" src="../public/js/jq.js"></script>
    <script src="../public/js/jquery.cookie.js"></script>
    <script src="../public/js/masonry.js" type="text/javascript" charset="utf-8"></script>
    <script src="../public/js/jquery.infinitescroll.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/jqform.js"></script>
	<script src="../public/js/jqTransit.js"></script>
    <script src="../public/js/index.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="../public/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../public/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../public/css/font-awesome.css">

	</head>
	<style>
		.fbLogin {
			margin: 0 auto;
			width: 330px;
			height: 60px;
			background: transparent url(../public/img/btn_Login_FB.png) no-repeat;
		}
		.fbLogin:hover {
			background: transparent url(../public/img/btn_Login_FB_OverState.png) no-repeat;
			cursor: hand;
			cursor: pointer;
		}
    .info{
      margin: 15px;
      text-align:center;
    }
	</style>


	<body>
		
  
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    
    <img src="/public/img/logo.png" class="logo pull-left" />
<!--      <ul id="account_info" class="nav">
      
      <li class="dropdown">
        <a href="#"
              class="dropdown-toggle"
              data-toggle="dropdown">
              Account
              <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          ...
        </ul>
      </li>
    </ul> -->
    <img id="instagram_login" src="/public/img/instagram_login.png" />

  </div>
</div>
<%if (user) { %>
	<input id="loggedin" type="hidden" value="true" />
<% } else { %>
	<input id="loggedin" type="hidden" value="false" />
<% } %>

  	<div id="login">
    <div id="Logo"></div>
    <div id="Slogan">ALL YOUR  PHOTOS</div>
  </div>

	<div id="photoContainer">
   
	 	<div class="outterItem facebook">
		    <div class="innerItem">
	      		<img class="displayImage" src="../public/img/default/1.jpg" alt="1"/>
		      	<div class="userInfo">
		        	<div class="userPhoto"><img src="../public/img/default/4.jpg" width="40" height="40" alt="1"/></div>
		        	<div class="userName">Ivan Pardo</div>
		        	<div class="userService">facebook</div>
		      	</div>
	
		  		<ul class="commentContainer hidden">
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText"> I Love this photo I Love this photo I Love this photo I Love this photo I Love this photo I Love this photo I Love this photo I Love this photo</div>
	  			</li>
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText">I Love this photo</div>
	  			</li>
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText">I Love this photo</div>
	  			</li>
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText">I Love this photo</div>
	  			</li>
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText">I Love this photo</div>
	  			</li>
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText">I Love this photo</div>
	  			</li>
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText">I Love this photo</div>
	  			</li>
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText">I Love this photo</div>
	  			</li>
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText">I Love this photo</div>
	  			</li>
  			
	  			<li class="comment">
	  				<div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	  			    <div class="commentName">Anand</div>
	  			    <div class="commentText">I Love this photo</div>
	  			</li>
	  		</ul>
	   		</div>
	 	</div>

	    <div class="outterItem instagram">
	    	<div class="innerItem">
				<img   id="second" class="displayImage" src="../public/img/default/2.jpg" width="270"  alt="2"/>
	      		<div class="userInfo">
	        <div class="userPhoto"><img src="../public/img/default/4.jpg" width="40" height="40" alt="1"/></div>
	        <div class="userName">Ivan Pardo</div>
	        <div class="userService">facebook</div>
	      </div>
				<ul class="commentContainer hidden">
	          <li class="comment">
	            <div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	              <div class="commentName">Anand</div>
	              <div class="commentText">I Love this photo</div>
	          </li>
	          <li class="comment">
	            <div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	              <div class="commentName">Anand</div>
	              <div class="commentText">I Love this photo</div>
	          </li>
	          <li class="comment">
	            <div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	              <div class="commentName">Anand</div>
	              <div class="commentText">I Love this photo</div>
	          </li>
	          <li class="comment">
	            <div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	              <div class="commentName">Anand</div>
	              <div class="commentText">I Love this photo</div>
	          </li>
	          <li class="comment">
	            <div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	              <div class="commentName">Anand</div>
	              <div class="commentText">I Love this photo</div>
	          </li>
          
	          <li class="comment">
	            <div class="commentPhoto"><img src="../public/img/default/3.jpg" width="40" height="40" alt="1"/></div>
	              <div class="commentName">Anand</div>
	              <div class="commentText">I Love this photo</div>
	          </li>
	        </ul>
			</div>
	    </div>

	    <div class="outterItem">
			<div class="innerItem">
		      	<img class="displayImage" src="../public/img/default/4.jpg" width="270"  alt="2"/>
			  	<div class="userInfo">
			        <div class="userPhoto"><img src="../public/img/default/4.jpg" width="40" height="40" alt="1"/></div>
			        <div class="userName">Ivan Pardo</div>
			        <div class="userService">facebook</div>
			 	</div>
			</div>
	    </div>

	    <div class="outterItem">
			<div class="innerItem">
		     	<img class="displayImage" src="../public/img/default/5.jpg" width="270" alt="2"/>
		      	<div class="userInfo">
		      		<div class="userPhoto"><img src="../public/img/default/4.jpg" width="40" height="40" alt="1"/></div>
		        	<div class="userName">Ivan Pardo</div>
		        	<div class="userService">facebook</div>
		      	</div>
			</div>
	    </div>
  
	  	<div class="outterItem">
	    	<div class="innerItem">
				<img class="displayImage" src="../public/img/default/6.jpg" width="270" alt="2"/>
		      	<div class="userInfo">
		        	<div class="userPhoto"><img src="../public/img/default/4.jpg" width="40" height="40" alt="1"/></div>
			        <div class="userName">Ivan Pardo</div>
			        <div class="userService">facebook</div>
		      	</div>
			</div>
	    </div>

		<div class="outterItem">
			<div class="innerItem">
		     	<img class="displayImage" src="../public/img/default/5.jpg" width="270" alt="2"/>
		      	<div class="userInfo">
		      		<div class="userPhoto"><img src="../public/img/default/4.jpg" width="40" height="40" alt="1"/></div>
		        	<div class="userName">Ivan Pardo</div>
		        	<div class="userService">facebook</div>
		      	</div>
			</div>
	    </div>

	</div>

  	<div class="modal" id="modal">
    <div class="modal-header">
<!--       <button type="button" class="close" data-dismiss="modal">X</button> -->
    </div>
    <div class="modal-body">
    	<div style="text-align: center;">
    		<img src="/public/img/logo.png" class="logo" height="100"/>
    	</div>
        <div>
          <div id="fbAuth" style="display: none;">
              <form id="frmFbSubmit" action="/fbAuthSubmit" class="ajaxsubmit" method="POST">
                  <input type="hidden" id="fbAuthToken" name='fbAuthToken' value='' />
                  <input type="submit" id="fbAuthFormSubmit" name='fbAuthFormSubmit' value='' />
              </form>
              <form id="frmInstaSubmit" action="/instaAuthSubmit" class="ajaxsubmit" method="POST">
                  <input type="hidden" id="instaAuthToken" name='instaAuthToken' value='' />
                  <input type="submit" id="instaAuthFormSubmit" name='instaAuthFormSubmit' value='' />
              </form>
          </div>
      	</div>

      	<div id="get_feed_link" style="margin-top: 10px;">
        	<a href="javascript:getFeed()">get feed</a>
      	</div>

      	<div id="facebook_login_link">
      	 <div class="fbLogin" onclick="openFbConnect()"></div>
      	</div>

      <p class="info">Fotage combines your photo newsfeeds from Facebook and Instagram</p>
    </div>
    <div class="modal-footer" >

    </div>
  </div>

    <script>
	    $(document).ready(function(){
	    	$('#frmFbSubmit').ajaxForm(function(data) { 
                //alert("Thank you for your comment!");
                 $("#facebook_login_link").css({"display":"none"});
                 $("#get_feed_link").css({"display":"none"});
                 getFeed();

            });
            $('#frmInstaSubmit').ajaxForm(function(data) { 
                //alert("Thank you for your comment!");
                getInstaFeed();
            });
	    });


	    function getFeed(){
        addLoader();
	    	$.ajax({
			  url: "/getFeed",
			  type: "POST",
			  data: {pageSize: 100, pageNumber: 1}
			}).done(function(data) { 
			  //$(this).addClass("done");
        removeLoader();
        fb_data = JSON.parse(data);
        $("#modal").modal("hide");
        var photoContainer = $('#photoContainer');
        photoContainer.html('')
			  $(fb_data).each(function(i,elm){
          var obj = buildObj(elm);
          photoContainer.prepend( obj, true );
          if(i%5==0)
            photoContainer.masonry( 'reload' );
        });

        $('#photoContainer').masonry( 'reload' );
        setTimeout(function(){
          $('#photoContainer').masonry( 'reload' );
        }, 500);

			});
	    }

      function getInstaFeed(){
          addLoader();
          $.ajax({
          url: "/getInstaFeed",
          type: "POST",
          data: {pageSize: 100, pageNumber: 1}
        }).done(function(data) { 
          //$(this).addClass("done");

          removeLoader();
          fb_data = JSON.parse(data);
          $("#modal").modal("hide");
          var photoContainer = $('#photoContainer');
 
          $(fb_data).each(function(i,elm){
            var obj = buildObj(elm);
            photoContainer.prepend( obj, true );
            if(i%5==0)
              photoContainer.masonry( 'reload' );
          });

          $('#photoContainer').masonry( 'reload' );

          setTimeout(function(){
            $('#photoContainer').masonry( 'reload' );
          }, 500);
          $("#instagram_login").remove();
        });
      }

        function validateFbForm(){
            //alert($('#fbAuthTocken').val());
          }
          function completeFbLogin(token){
            token = token.replace('#access_token=', '');
            $('#fbAuthToken').val(token);
            $('#fbAuthFormSubmit').click();
          }
          function completeInstaLogin(token){
            token = token.replace('#access_token=', '');
            $('#instaAuthToken').val(token);
            $('#instaAuthFormSubmit').click();
          }
          function openFbConnect(){
            var fbSecret = "<%= fbSecret %>"; //localhost 
            var returnUrlHost = window.location.host;
            url = 'https://graph.facebook.com/oauth/authorize?type=user_agent&client_id='+fbSecret+'&display=popup&redirect_uri=http://'+returnUrlHost+'/fbAuthLand&response_type=token&scope=email,read_stream';
            fbWin = window.open(url, "myWindowName", "width=650, height=350,resizable=no");
          }
          function openInstaConnect(){
            var instaSecret = "<%=instaSecret %>";
            var returnUrlHost = window.location.host;
            url = "https://instagram.com/oauth/authorize/?client_id=" + instaSecret + "&redirect_uri=http://"+returnUrlHost+"/instaAuthCode&response_type=token";
            instaWin = window.open(url, "myWindowName", "width=650, height=350,resizable=no");
          }
    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32539157-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</body>
</html>