#home{
	width: 100%;
}
#session-header{
	width: 100%;
	background-color: rgba(0,0,0, 0.1);
	border-bottom: 1px solid #CCC;
}



.question-button {
	
}
.pointExplanation {
	position: fixed;
	right: 10px;
	top: 150px;
	width: 162px;
	height: 207px;
	background: transparent url(../img/pointExplanation.png) no-repeat;
}
.askQuestion {
	width: 276px;
	height: 277px;
	margin: 0px auto;
	cursor: hand;
	cursor: pointer;
	background: transparent url(../img/askQuestion_btn.png) no-repeat;
}
.askQuestion:hover {
	background: transparent url(../img/askQuestion_btn_on.png) no-repeat;
}
.questionPopup {
	display: none;
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -228px;
	width: 400px;
	height: 240px;
	z-index: 1005;
	background: transparent url(../img/popup_askqueestion_bg.png) no-repeat;
	padding: 120px 0px 0px 39px;
}
.askanonymously {
	float: left;
	position: relative;
	width: 198px;
	height: 52px;
	background: transparent url(../img/askanonymously_btn.png) no-repeat;
}
.askanonymously:hover {
	cursor: hand; cursor: pointer;
	background: transparent url(../img/askanonymously_btn_on.png) no-repeat;
}
.askasme {
	float: left;
	position: relative;
	width: 198px;
	height: 52px;
	background: transparent url(../img/askasme_btn.png) no-repeat;
}
.askasme:hover {
	cursor: hand; cursor: pointer;
	background: transparent url(../img/askasme_btn_on.png) no-repeat;
}
textarea#txtQuestion{
	width: 87%;
	height: 50%;
}
.login-close {
	position: relative;
	float: right;
	clear: both;
	width: 25px;
	height: 25px;
	background: transparent url(../img/exit.png) no-repeat;
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
	cursor: hand;
	cursor: pointer;
}
.login-close:hover {
	opacity:1;
	-moz-opacity:1;
	filter:alpha(opacity=100);
}
.questionPopup .login-close {
	top: -90px;
	right: 7px;
}
.checkout {
	float: left;
	background: transparent url(../img/checkout_btn.png) no-repeat;
	width: 71px;
	height: 25px;
}
.checkout:hover {
	background: transparent url(../img/checkout_btn_on.png) no-repeat;
	cursor: hand;
	cursor: pointer;
}
.checkout:active {
	-webkit-box-shadow: inset 1px 1px 1px 1px #555555;
	-moz-box-shadow: inset 1px 1px 1px 1px #555555;
	box-shadow: inset 1px 1px 1px 1px #555555;
}

/* Quizzer */
#quizer {
	display: none;
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -200px;
	margin-left: -300px;
	z-index: 10015;
	width: 600px;
	height: 400px;
	border: 2px solid white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: transparent url(../img/bg_repeat.png) repeat;
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	overflow: hidden;
}
#quizer-parent {
	width: 5000px;
	height: 100%;
	overflow: hidden;
}
#quizer-parent .quizer-content {
	width: 600px;
	height: 100%;
	float: left;
	text-align: center;
}
.quizer-content .quizer-head {
	text-align: left;
	color: #333;
	text-shadow: none;
	font-weight: bold;
	padding: 10px;
	font-size: 25px;
	background-color: rgba(0,0,0, 0.3);
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.quizer-content .quizer-body {
	padding: 5px;
}
.quizer-content  .login-close {
	top: 5px;
	right: 5px;
}
.quizer-content input[type=text]{
	width: 80%;
}
#txtQuizQuestion {
	width: 90%;
	height: 60px;
}
/* end of quizzer */

/* show the popQuiz from prof */
.popQuizQuestion {
	display: none;
	position: absolute;
	top: 10%; 
	left: 50%;
	margin-left: -300px;
	z-index: 10015;
	width: 600px;
	border: 2px solid white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: transparent url(../img/bg_repeat.png) repeat;
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	overflow: hidden;
}
.popQuizQuestion .quizQuestion {
	text-align: left;
	color: #333;
	text-shadow: none;
	font-size: 30px;
	padding: 10px;
	border-bottom: 1px solid #CCC;
	background-color: rgba(0,0,0, 0.3);
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.quizOptions{
	padding: 0 0 10px 0px;
}
.quizOptions .options {
	cursor: hand;
	cursor: pointer;
	text-align: left;
	border-bottom: 1px solid #CCC;
	padding: 10px;
	color: #555;
	font-size: 20px;
}
.quizAnswerQuestion {
	text-align: left;
	color: #333;
	text-shadow: none;
	font-size: 20px;
	padding: 10px;
	border-bottom: 1px solid #CCC;
	background-color: rgba(0,0,0, 0.2);
}
.spnLiveAnswers {
	padding-left: 20px;
	height: 40px;
	line-height: 20px;
	background: transparent url(../img/ajaxloading-regular.gif) no-repeat;
}
#quizAnswers .options {
	cursor: default;
	background-color: rgba(0,0,0, 0.1);
}
#quizAnswers .options span {
	float: right;
	clear: both;
	padding: 5px;
	color: #FFF;
	text-shadow: none;
	background-color: #094A24;
}
.popQuizQuestion .options span{
	color: #777;
	font-size: 18px;
}
.popQuizQuestion .options:hover {
	background-color: rgba(0,0,0, 0.1);
}
.popQuizQuestion .options:hover span {
	color: #444;
}
.popQuizQuestion .options.selected {
	background-color: rgba(0,0,0, 0.2);
}
.popQuizQuestion .options.selected span{
	font-weight: bold;
	color: #000;
}
.popQuizQuestion #submit{
	text-align: center;
}
.popQuizQuestion .button{
	font-size: 30px;
	height: 60px;
}
/* end of show popQuiz from prof */