body
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 background-image: url('../img/dark_wall.png');
}
img{
	-webkit-user-drag:none;
}
#instagram_login{
	cursor:pointer;
	float:right;
	margin: 5px 30px 0 0;
	height: 35px;
}
.navbar .logo{
	height: 40px;
	top:3px;
	left: 30px;
	position:relative;
}
#get_feed_link{
	text-align: center;
	font-size: 24px;
}
.modal-footer{
	text-align:center;
}
.navbar-inner{
	min-height: 46px;
}

#photoContainer
{
	position:relative;
	width:96%;
	height:95%;
	margin-top: 48px;
	top: 40px;
	margin: 0 auto;
	margin-bottom: 100px;
}
.modal{
	margin: -200px 0 0 -280px;
}

.outterItem {
	cursor:pointer;
	width: 320px;
	margin-bottom:30px;
}

.innerItem
{
	width: 320px;
	margin 0;
	border-radius:10px;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, .4);
    box-shadow:  4px 4px 8px 0px rgba(0, 0, 0, .4);

    overflow:hidden;
}

.biggerItem
{
	width:670px !important;
}

.biggestItem
{
	width:1370px !important;
	border-radius: 35px 10px !important;
}


.outteritem.visible_comments{
	background-color: rgba(255, 255, 255, 0.95);
}

.displayImage
{
	margin:25px;
	margin-bottom: 10px;
	border-radius: 10px;
	width:270px;
	box-shadow: 0px 0px 8px  #666;
	-webkit-box-shadow: 0px 0px 8px  #666;
}

.displayImage.biggerImage
{
	width:620px !important;
}

.displayImage.biggestImage
{
	width:1035px !important;
}



.userInfo
{
	margin-left: 25px;
	width:240px;
	margin-bottom: 17px;
	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topright: 0;
	border-radius: 10px;
	border-top-right-radius: 0;
	
}

.facebook .userInfo
{
	background-color:rgb(59,89,152);
	box-shadow: 0px 0px 12px  rgb(59,89,152);
}

.userPhoto
{
	position:relative;
	top:0px;
	left:0px;
	width:40px;
	height:40px;
	float:left;
	margin-right:10px;
}

.userPhoto img
{
	border-radius: 7px;	
}
 .userName
{
	font-size:22px;
	color:black;
	margin-bottom: 6px;
}

.userService
{
	font-size:14px;
	color:grey;
}

#account_info{
	float:right;
	position:relative;
	right:30px;
	top: 4px;
}

.commentContainer
{
	position: absolute;
	top: 25px;
	right: 25px;
/*	-webkit-box-shadow: 0px 0px 85px rgba(0,0,0,.5);
	-webkit-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
	
	/*
	margin-top: -746px;
	margin-left: 1037px;
	*/
	 height: 698px;
	margin-bottom: 70px;
	overflow: scroll;
	width:260px;
	border-radius: 10px;
}

.comment
{
	background-color:white;
	width: 240px;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 10px;
	
	margin-bottom: 12px;
	padding:5px;
	box-shadow: 1px 1px 4px #999;
	-webkit-box-shadow: -4px -5px 4px #999;
	border-top-left-radius: 8px;
	
}

.commentPhoto
{
	width:40px;
	height:40px;
	float:left;
	margin-right:10px;

	margin-top:1px;

}

.commentPhoto img
{
	border-radius: 7px;
}
bigges
.commentName
{
	font-size:22px;
	color:black;
	margin-bottom: 6px;
}

.noCommentName
{
	font-size:22px;
	color:black;
	margin-bottom: 6px;
	text-align:center;
}

.commentText
{
	font-size:14px;
	color:grey;
}


.topMask
{
	
}


.hidden
{
	display:none;
}